.menu{
    height: 100vh;
    width: 100%;
    padding: 20px;
    background-color: blue;
    position: absolute;
    top: 150%;
    /* visibility: hidden; */
    transition: all ease .5s;
}

.show{
    top: 0 !important;
    visibility: visible;
}

.hide{
    visibility: hidden;
}

.menu_ul{
    display: flex;
    flex-direction: column;
    
}

.menu_ul li{
    color: white;
    font-size: 62px;
}