.mockup_section{
    display: flex;
    /* flex-direction: column; */
    /* margin-top: 100px; */
    padding-top: 50px;
    background-color: black ;
}

.left_to_mockup > div{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 0 5px;
}



.mockup_section > div img{
    width: 20vw;
    /* min-height: 30vh; */
    margin: 5px;
    border-radius: 20px;
}

.main_mockup {
   overflow: visible;
   position: relative;
   display: flex;   
    flex-direction: column; 
   /* left: 40vw; */
}

.main_mockup video{
    position: sticky;
    top: 10vh;
    /* width: 150%; */
    z-index: 2;
}



@media (max-width: 768px){
    .mockup_section{
        display: none;
    }   
}