.nav_links ul{
    display: flex;
    max-width: fit-content;
    background-color: rgb(64, 82, 116);
    border-radius: 50px;
    /* opacity: 0.8; */
    color: white;
}

.nav_links li {
    padding: 5px 15px;
}


@media (max-width: 1024px){
    nav{
        margin: 0 0 50px 0 !important;
    }

    .Navbar_Sm{
        display: flex;
        margin-bottom: 50px;
        /* padding: 20px; */
    }

   .Navbar_Sm > ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
   }


   .Navbar_Sm > ul li:nth-child(2),
   li:nth-child(3)
   {
    /* background-color: rgb(182, 182, 182); */
    /* padding: 5px 12px; */
    /* border-radius: 20px; */
   }

    .three_dots{
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: rgb(182, 182, 182);
        border-radius: 100%;
        padding: 10px;
        
    }
    .three_dots span{ 
        border-bottom: 3px solid rgb(255, 255, 255);
        border-radius: 3px;
        width: 20px;
    }
    .three_dots span:nth-child(1){ 
        align-self: flex-end;
        width: 10px;
    }
    .three_dots span:nth-child(3){ 
        align-self: flex-start;
        width: 10px;
    }

}