.nav_links ul{
    display: flex;
    max-width: fit-content;
    background-color: rgb(64, 82, 116);
    border-radius: 50px;
    /* opacity: 0.8; */
    color: white;
}

.nav_links li {
    padding: 5px 15px;
}


@media (max-width: 768px){
    nav{
        margin: 0 0 50px 0 !important;
    }

    .Navbar_Sm{
        display: flex;
        margin-bottom: 50px;
        /* padding: 20px; */
    }

   .Navbar_Sm > ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
   }

/*    

   .Navbar_Sm > ul svg{
    width: 20px;
    height: 20px;
    color: black;
   } */

   .Navbar_Sm > ul li:nth-child(2){
    background-color: rgb(182, 182, 182);
    padding: 3px 10px;
    border-radius: 20px;
   }
    
}